:root {
  /* HEX CHOCO : #30241C */
  --chocolatebar-base: 24;
  --chocolatebar: hsla(var(--chocolatebar-base), 26%, 15%, 100%);
  --chocolatebar-dark: hsla(var(--chocolatebar-base), 26%, 10%, 100%);
  --chocolatebar-light: hsla(var(--chocolatebar-base), 26%, 20%, 100%);

  /* HEX LIGHT CHOCO: #5E3123 */
  --leatherbrown-base: 14;
  --leatherbrown: hsla(var(--leatherbrown-base), 46%, 25%, 100%);
  --leatherbrown-dark: hsla(var(--leatherbrown-base), 46%, 20%, 100%);
  --leatherbrown-light: hsla(var(--leatherbrown-base), 46%, 30%, 100%);
}

.form-h1 {
  margin: 1rem;
  font-family: 'Lato', sans-serif;
}

.form-container {
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  max-width: 700px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--chocolatebar);
}

.add-form-title input {
  float: left;
  margin: 1rem;
  width: 40%;
  padding: 1rem;
  border: 0;
  border-radius: 3px;
}

.add-form-title input:focus,
.add-form-price input:focus,
.add-form-description input:focus,
.add-form-image input:focus {
  outline: none;
}

.add-form-price input {
  float: left;
  margin: 1rem;
  width: 40%;
  padding: 1rem;
  border: 0;
  border-radius: 3px;
}

.add-form-description input {
  float: left;
  margin: 1rem;
  width: 40%;
  align-content: center;
  padding: 1rem;
  border: 0;
  border-radius: 3px;
}

.add-form-image input {
  float: left;
  margin: 1rem;
  width: 40%;
  padding: 1rem;
  border: 0;
  border-radius: 3px;
}

.add-form-checkbox {
  float: left;
}

.add-form-checkbox label {
  color: orange;
  float: left;
  position: relative;
}

.checkbox-text {
  font-family: 'Lato', sans-serif;
  color: var(--chocolatebar);
  margin-left: 1rem;
}

#featured {
  width: 30px;
  height: 30px;
}

.add-button {
  margin: 1rem auto;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--chocolatebar);
  color: #f1f1f1;
  font-size: 20px;
  border-radius: 3px;
  border: 0;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.add-button:hover {
  background-color: var(--leatherbrown);
  color: #f1f1f1;
  font-size: 20px;
}

/* _____ TABLET _____ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .add-form-title input,
  .add-form-price input,
  .add-form-description input,
  .add-form-image input {
    width: 90%;
    margin-left: 0;
  }
}

/* _____ MOBILE _____ */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .add-form-title input,
  .add-form-price input,
  .add-form-description input,
  .add-form-image input {
    width: 80%;
    margin-left: 0;
  }
}
