:root {
  /* HEX: #30241C */
  --chocolatebar-base: 24;
  --chocolatebar: hsla(var(--chocolatebar-base), 26%, 15%, 100%);
  --chocolatebar-dark: hsla(var(--chocolatebar-base), 26%, 10%, 100%);
  --chocolatebar-light: hsla(var(--chocolatebar-base), 26%, 20%, 100%);

  /* HEX: #5E3123 */
  --leatherbrown-base: 14;
  --leatherbrown: hsla(var(--leatherbrown-base), 46%, 25%, 100%);
  --leatherbrown-dark: hsla(var(--leatherbrown-base), 46%, 20%, 100%);
  --leatherbrown-light: hsla(var(--leatherbrown-base), 46%, 30%, 100%);
}

.login-form {
  font-family: "Lato", sans-serif;
  height: 300px;
}

input[type="text"],
[type="password"] textarea {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.form-container {
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 60px;
  max-width: 700px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--chocolatebar);
}

.login-form-user input:focus,
.login-form-pass input:focus {
  outline: none;
}

.login-form-user,
.login-form-pass {
  color: var(--chocolatebar);
}

.login-form-pass input {
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}


.login-form-button {
  float: left;
  padding: 1rem 3rem;
  background-color: var(--chocolatebar);
  color: #f1f1f1;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.login-form-button:hover {
  background-color: var(--leatherbrown);
}

.login-text {
  width: auto;
  color: var(--chocolatebar);
  cursor: pointer;
  margin-top: -0.5rem;
  font-size: 14px;
}

.login-text:hover {
  color: var(--leatherbrown-light);
  text-decoration: underline;
}

.login-text-newuser {
  display: block;
  float: right;
  margin-right: 0.8rem;
}

.member {
  color: var(--leatherbrown-light);
  cursor: pointer;
}

.member:hover {
  color: var(--chocolatebar);
  text-decoration: underline;
}
